<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/generic.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <title>Music_Boom</title>
</head>
<body>
    <div class="container">
				<!-- header -->
            <header class="main-header">
               <nav class="main-nav">
                   <ul class="bar-ul">
                        <li class="nav-element"><img src="images/logo.jpg" class="logo-header"> </li>
                        <li class="nav-element"><a href="home.html">Home</a></li>
                        <li class="nav-element"><a href="playlist.html">Playlist</a></li>
                        <li class="nav-element"><a href="genero.html">Género</a></li>
                        <li class="search"> 
                            <form action="search-results.html" method="GET">
                                <input type="text" class='barra-buscador' name="buscar" value="" placeholder="Buscar">
                                <button class="boton_search"><i class="fas fa-search"></i></button>
                                <section class="alertTotal">
                                </section>
                            </form> 
                  </li>
                   </ul>
               </nav>
         </header>
      <main>
         
      <!-- carousel -->
      <section class="carousel">
         <div class="slideshow-container">
         <div class="slides fade" style="display: block;">
             <img src="./gifsCarousel/pauloLondra.gif" style="width:100%">
         </div>
         <div class="slides fade" style="display: none;">
             <img src="./gifsCarousel/marshmellow.gif" style="width:100%">
         </div>
         <div class="slides fade" style="display: none;">
             <img src="./gifsCarousel/ladygaga.gif" style="width:100%">
         </div>  
         <div class="slides fade" style="display: none;">
             <img src="./gifsCarousel/queen.gif" style="width:100%">
         </div> 
         <a class="prev" onclick="plusSlides(-1)">❮</a>
         <a class="next" onclick="plusSlides(1)">❯</a>
         </div>
         <div style="text-align:center">
         <span class="dot active" onclick="currentSlide(1)"></span>
         <span class="dot" onclick="currentSlide(2)"></span>
         <span class="dot" onclick="currentSlide(3)"></span>
         <span class="dot" onclick="currentSlide(4)"></span>
         </div>
      </section>


      <!-- nuevos sencillos -->
             <h2 class="titulos-home">Nuevos sencillos</h2>
             <section class="sencillos">
            
            </section>

            <!-- artistas destacados -->
            <h2 class="titulos-home">Artistas Destacados</h2>
            <section class="artistas">

            </section>

            <!-- ultimos albumes -->
            <h2 class="titulos-home">Ultimos álbumes </h2>
            <section class="albumes">
               
            </section>
        </main>
        
       <!-- footer -->
		<footer class="main-footer">
         <img src="images/logo.jpg" alt="Logotipo Music Boom" class="logo-footer">
         <p class="derechos">© 2021 Music Boom. All rights reserved.</p>
      <ul class="icons-redes">
         <li><a href="#"><span class="ion-social-facebook"><ion-icon name="logo-facebook"></ion-icon></span></a></li>
         <li><a href="#"><span class="ion-social-instagram"><ion-icon name="logo-instagram"></ion-icon></span></a></li>
         <li><a href="#"><span class="ion-social-linkedin"><ion-icon name="logo-linkedin"></ion-icon></span></a></li>
      </ul>
         <p class="nombres_developers">Por Agostina Maldonado, Candela Sapoznik y Matías Maldonado</p>
   </footer>
	</div>
   <script type="text/javascript" src="./js/home.js"></script>
	</body>
</html>