*{
  box-sizing:border-box;
}

/*resets*/
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
  }
a{
  text-decoration: none;
  color: white;
}
/*GENERALES*/
i{
  color: white;
}
body{
  background-color:#0A142F;
  font-family: 'Rubik', sans-serif;
}
.titulo{
  margin: 3%;
  color: white;
  font-size: 20px;
  align-self: flex-start;
}
.subtitulo{
  margin: 3%;
  color: white;
  font-size: 16px;
}
/*ESTILO MOBILE*/
/*header*/
.main-nav{
  color:white;
  border-bottom:solid white 0.5px;
  margin-bottom: 2px;
}
.logo-header{
  width: 65px;
}
.bar-ul{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-element{
  font-size: 12px;
  color: black;
  width: 20%;
  margin-left: 3px;
  align-self: center;
}
.search{
    width: 200px;
    align-self: center;
    margin-bottom: 5px;
  } 
.barra-buscador{
  width: 70%;
  font-size: 10px;
  }

.boton_search{
  font-size: 10px;
  width: 25%;
  text-align: center;
  background-color: grey;
}
.alert{
  color: red;
  font-size: 10px;
}
.input{
  border-color: #900;
    background-color: #FDD;
  }   
.far.fa-times-circle{
  font-size: 10px;
}
/*footer*/
.main-footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color:white;
  margin-bottom: 2%;
  border-top:solid 1px white;
  text-align:center;
}
.logo-footer{
  width: 50%;
}
.derechos{
  font-size: 10px;
}
.nombres_developers{
  font-size: 12px;
}
.icons-redes{
  flex-direction:row;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icons-redes li{
  margin: 0 10px;
}
.ion-social-facebook{
  width: 20%;
  color: white;
  font-size: 10px;
}
.ion-social-linkedin{
  width: 20%;
  color: white;
  font-size: 10px;
}
.ion-social-instagram{
  width: 20%;
  color: white;
  font-size: 10px;
}
/* HOME.HTML*/
/* Carousel de w3schools*/
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 12px 2px;
  background-color:#7acfe8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #316c7d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* termina carousel*/

.titulos-home{
  text-align: center;
  background-color:rgb(126, 7, 7);
  font-size: 25px;
}
.sencillos h3,p {
  color: white;
}

.sencillos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.artistas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.albumes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.img-art{
  border-radius: 50%;
}
.art{
  text-align: center;
}

img{
  width: 100%;
}
.infoHome{
  width: 100%;
  background-color:#B91D1D;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 10%;
  font-size: 13px;
  justify-content: space-between;
}

/*GENERO.HTML*/
.lista_generos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: auto;
  justify-content: center;
  color: white;
}
.card-genero{
  width: 80%;
  background-color:#B91D1D;
  text-align: center;
  margin-bottom: 4%;
  border-radius: 10%;
  font-size: 13px;
}
.boton_explorar{
  font-size: 12px;
  text-decoration: underline;
}

/*DETALLEGENERO.HTML*/
.lista_artistas{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.card-image{
  width: 50%;
}
.imagen_y_texto{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img_artista{
  border-radius: 50%;
  width: 70px;
  margin-right: 60px;
  margin: 20px 20px
}
.card-nombre_artista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-nombre_artista h3{
  font-size: 14px;
  color: white;
  width: 40%;
}
.boton{
  text-decoration: underline;
  font-size: 10px;
  width: 40%;
}

/*detalle-artistas*/

.imagenfondo{
  background-image: url(../images/justin-bieber-justice.jpeg);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.centrado{
  text-align: center;
}
.topcanciones{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}
.justinimage{
  width:20%
}
.justinimage img{
  width: 100%;
  border-radius: 10px;
}
article .numero{
  padding: 10px 30px;
  font-weight: bold
}
.numero{
  color: white;
}
.texto .chico{
  font-size: small;
  color: #A7A7A7 ;
}

/*detalle disco*/

.primera_seccion{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.primera_seccion .imagen{
  width: 50%;
  padding: 50px 10px 10px 30px;
} 
.primera_seccion img{
  width: 100%;
  border-radius: 10px;
} 
.primera_seccion article{
  color: #A7A7A7;
  padding: 40px 20px;
  width: 40%;
  font-size:smaller;
} 
.white{
  color: white;
  font-size: larger;
} 
.article_disco a{
  color:#A7A7A7;
  text-decoration: none;
}

.segunda_seccion{
  color: #A7A7A7;
}
.segunda_seccion a{
  color:white
}
.segunda_seccion article{
  padding: 1px 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.segunda_seccion .player{
  padding: 30px 45px 30px 50px;
  font-size:xx-large; 
} 
.segunda_seccion .texto_disco{
  padding: 0px 50px;
  font-size: medium;
}
.table{
  display: none;
} 

/* detalle cancion */
.fondo{
  /*background-image: url(../images/peaches.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fondo_negro{
  background-color: black;
}
.texto_cancion{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fav{
  background-color: #B91D1D;
  font-size: 8px;
  color:#fff;
  text-decoration:none;
  width:100px;
  text-align:center;
  border-radius: 10%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  
}
.cantante{
  font-size: 12px;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.5);

}
.album{
  font-size: 12px;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.5);
}
/*  playlist */

.white_mobile{
  color: white;
  background-color: #A56FFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.white_mobile .player{
  font-size:xx-large;
  padding: 20px;
}
.white_mobile h2{
  padding-top: 10px;
}
.white_mobile h3{
  padding-top: 10px;
  font-weight:lighter;
}
.white_desktop{
  display: none;
}
.segunda_seccion{
  color: #A7A7A7;
  margin-top: 10px;
} 
.segunda_seccion a{
  color:white
}
.segunda_seccion article{
  padding: 1px 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.segunda_seccion .player{
  padding: 30px 20px 30px 25px;
  font-size:x-large;
}

.segunda_seccion .texto{
  padding: 0px 50px;
  font-size: medium;
}

.table{
  display: none;
}

/* search results */
.imagencontexto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  text-align: center;
}
.card-image-artista{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.card-nombre-artista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.search_albumes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.img_album{
  border-radius: 50%;
  width: 70px;
  margin-right: 20px;
  margin: 23px 60px;
}
.card-album{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.player{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}
.loader{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.leyenda{
  display: none;
}
.tituloinfo{
  font-size: 40px;
}
.tablacanciones{
  font-size: 12px;
  text-align: center;
}
.columna{
  width:20%;
  text-align: center;
}
.tablacanciones2{
  display: none;
}
/*ESTILO DESKTOP*/
@media (min-width: 1024px) {
  /*header*/
.nav-element{
  font-size: 25px;
  color: black;
}
.search{
  margin-bottom: 5px;
}
.texto-boton{
  width: 25%;
}
.logo-header{
  width: 200px;
}
.bar-ul{
  margin: 0%;
}
.bar-ul li{
  width: 15%;
  padding: 2px;
}
.barra-buscador{
  font-size: 15px;
  width: 60%;
}

.boton_search{
  font-size: 15px;
  width: 30%;
}
/*GENERALES*/
.titulo{
  font-size: 40px;
}
.subtitulo{
  font-size: 30px;
}
/*header*/
.alert{
  font-size: 15px;
}  
.far.fa-times-circle{
  font-size: 15px;
}
/*footer*/
.logo-footer{
  width: 20%;
}
.derechos{
  font-size: 15px;
}
.nombres_developers{
  font-size: 20px;
}
.ion-social-facebook{
  font-size: 30px;
}
.ion-social-linkedin{
  font-size: 30px;
}
.ion-social-instagram{
  font-size: 30px;
}
/*HOME.HTML*/
.sencillos{
  justify-content: space-around;
}
.artistas{
  justify-content: space-around;
}
.albumes{
  justify-content: space-around;
}
.infoHome{
  width: 30%;
  justify-content: space-around;
}
/*GENERO.HTML*/
.lista_generos{
  align-items: center;
}
.card-genero{
  width: 25%;
  margin: 3%;
  font-size: 16px;
}
.boton_explorar{
  font-size: 12px;
}
/*DETALLE_GENERO.HTML*/
.lista_artistas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagen_y_texto{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card-image{
  width: 50%;
}
.img_artista{
  border-radius: 100%;
  width: 150px;
}

.card-nombre_artista h3{
  font-size: 25px;
  width: 45%;
}
.boton{
  font-size: 16px;
  width: 45%;
}

/*detalle artista*/
div.imagenfondo{
  background-size: cover;
}
h1.numero.centrado{
  font-size: 70px;
}
.numero.margen{
  padding-left: 40px;
  font-size: xx-large;
}
.detalle_artista{
  padding-left: 20px;
}
.justinimage{
  width: 10%;
}
.topcanciones{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #A7A7A7;
}
.topcanciones .numero{
  padding-top: 15px;
  font-size: large;
}
div.texto{
  width: 60%;
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
} 

/* detalle disco */
.primera_seccion .imagen{
  width: 30%;
}
.primera_seccion .justin{   
  width: 100%;
}
.primera_seccion article{
  padding: 50px;
  font-size: x-large;
}
.white{
  font-size: x-large;
}
.segunda_seccion {
  display: none;
}
.table {
  display: table;
  width: 90%;
  text-align: left;
  margin: 0 auto;
  font-size: large;
}
table {
  width: 100%;
  padding: 10px 0px;
}
.table .player{
  font-size: x-large;
  padding-top: 15px;
  padding-left: 10px;
}
.table a{
  color: #fff;;
  text-decoration: none;
}
.transparente{
  color:#0A142F;
} 
.table tr{
  padding: 15px;
} 
tr{
  line-height: 3;
}

/* detalle cancion*/
.fondo{
  background-size: cover;
}
.fondo_negro{
  font-size: 40px;
}
/* Search Results*/
.search_albumes{
  justify-content: center;
  flex-direction: row;
}
.card-imageAlbum{
  margin: 20px;
}
.img_album{
  border-radius: 100%;
  width: 150px;
  margin: 20px 168px;
}
.imagencontexto{
  width: 45%;
  justify-content: center;
}
.fav{
  font-size: 16px;  
}
.cantante{
  font-size: 24px;

}
.album{
  font-size: 24px;
}
.tablacanciones{
  display: none;
}
.tablacanciones2{
  display: block;
  font-size: 20px;
  margin: 2%;
}

/* playlist */
.white_mobile{
  display: none;
} 
.white_desktop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #A56FFF;
  margin-bottom: 30px;
} 
div.player{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; 
  padding: 10px 70px 5px 50px;
} 
div.icono{
  padding: 25px 10px 10px 10px;
  font-size: 40px;
}
.player p{
  padding: 0px 25px;
  font-size: 30px;
}
.segunda_seccion{
  display: none;
}
}