<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
<%- include('./partials/headerLogueado') %>

    <main>
        <div class="subirPost">
          
                    <h2>Subir post</h2>
                    <form action="/post/add" method="post" enctype="multipart/form-data">
                    <input type="file" placeholder="Foto" class="input-form" name="img" />
                    <input type="text" placeholder="Agrega una caption" class="input-form" name="descripcion" />
                    <input type="hidden" value="<%= user.id %>" name="userId">
                    <button type="submit" class="button-form">Postear</button>
                    </form>
           
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>
