<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/headerDeslogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Iniciar Sesión</h2>
                <form action="/users/login" method="post">
                    <p><input type="email" placeholder="Email" class="input-form" name="email"></p>
                    <p><input type="password" placeholder="Contraseña" class="input-form" name="password"></p>
                    <p><button type="submit" class="button-form">Iniciar Sesión</button></p>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>


</body>

</html>