<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/headerDeslogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Subite</h2>
                <form action="/">
                    <p><input type="email" placeholder="Email" class="input-form" name="email"></p>
                    <p><input type="text" placeholder="Nombre" class="input-form" name="nombre"></p>
                    <p><input type="text" placeholder="Apellido" class="input-form" name="apellido"></p>
                    <p><input type="file" placeholder="Foto" class="input-form" name="img"></p>
                    <p><input type="date" placeholder="Fecha de nacimiento" class="input-form" name="date"></p>
                    <p><input type="password" placeholder="Contraseña" class="input-form" name="password"></p>
                    <p><button type="submit" class="button-form">Registrar</button></p>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>



</body>

</html>