<footer class="footerMain">
    <ul class="footerSocial">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul class="footerNames">
        <li>Facundo Tabanera</li>
        <li>Matías Nicolás Maldonado</li>
        <li>Abril Niell</li>
    </ul>
</footer>