<header class="header" >
    
       
    <nav class="headerNav" >
        <div class="headerLogo" >
            <h2 ><a href="/">Carbook</a></h2>
        </div>
        <div class="headerBoton" >
            <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/post/add">Agregar Post</a></li>
                <li><a href="/users/profile">Mi Perfil</a></li>
            </ul>
        </div>
        <div class="headerPost" >
         
            <form action="" >
                <span uk-search-icon></span>
                <input class="buscadorHeader" type="search"  placeholder="Buscar...">
            </form>
           
        </div>
    </nav>


</header>