<header class="header" >
    
       
    <nav class="headerNav" >
        <div class="headerLogo" >
            <h2 ><a href="/">Carbook</a></h2>
        </div>
        <div class="headerBoton" >
            <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/users/register">Registrarse</a></li>
                <li><a href="/users/login">Iniciar sesión</a></li>
            </ul>
        </div>
        <div class="headerPost" >
         
            <form action="/search" >
                <span uk-search-icon></span>
                <input class="buscadorHeader" type="text"  placeholder="Buscar..." name='search'>
            </form>
           
        </div>
    </nav>


</header>